.header{
    background: url('media/E5vAbGlWUAE8xyB.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    background-position: center;

}

.header2{
    background: url('media/');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}